{% extends "base.html" %} {% block content %}
<div class="about_us">
  <div class="cont-block">
    <div class="block">
      <h2>How to use?</h2>
      <div class="line" style="margin-left: 0; margin-top: 20px;"></div>
      <p style="text-align: left; margin-top: 2%">
        To make a search, you need to register first. <br>Then go to the Search tab
        and search for <br >any information you are interested in.
      </p>
    </div>
    <div class="block">
        <img src="static/data/inf-img1.png" style="max-width: 100%; height: auto" class="inf-img">
    </div>
  </div>

  <div class="cont-block" style="margin-top: 100px;">
    <div class="block">
        <img src="static/data/inf-img2.png" style="max-width: 100%; height: auto" class="inf-img">
    </div>
    <div class="block">
      <h2 style="text-align: right;">What is the upload button?</h2>
      <div class="line" style="margin-top: 20px; margin-right: 0"></div>
      <p style="text-align: right; margin-top: 2%">
        On this site you can post your own database. <br>
        After processing by moderators,
        <br> if the database is new and not widespread, <br>it will be posted for general search.
      </p>
    </div>
  </div>

  <div class="cont-block">
    <div class="block">
      <h2>How to change email / username?</h2>
      <div class="line" style="margin-left: 0; margin-top: 20px;"></div>
      <p style="text-align: left; margin-top: 2%">
        to change your password or email, <br>go to the account tab. In the field, <br>enter a new email or username. <br>If the data is valid, it will be successfully modified
      </p>
    </div>
    <div class="block">
        <img src="static/data/inf-img3.png" style="max-width: 100%; height: auto" class="inf-img">
    </div>
  </div>
</div>

<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
>
  <div class="col-md-4 d-flex align-items-center">
    <div>
      <p>© 2024 o2o Team</p>
      <a href="mailto:o2o@duck.com"><p>o2o@duck.com</p></a>
    </div>
  </div>
</footer>
{% endblock %}
