{% extends "reglogbase.html" %} {% block content %}
<div class="login_form auth-f">
    <h1 class="auth" style="padding-top: 2%;">Delta</h1>
    <h2 class="auth">Login</h2>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
            <div class="alert_alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
            <div class="alert_alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </p>
    <div class="bott-inf">
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    <div><p>{{ message }}</p></div>
        <p>No account?</p>
        <p style="padding-bottom: 5%;"><a href="/registration">registration</a></p>
    </div>
</div>   
{% endblock %}

